<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

<!-- Core build with no theme, formatting, non-essential modules -->
<link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
<script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>
<h1>Hello, Mr.<%= user.name%>  </h1>
<h2>Welcome to GA</h2><br>
<% 
var word;
var word2;
var prsn;
if(!user.usertype){
  word="codes"
  word2="lessons"
  prsn="instructors"
}
else{
  word="lessons"
  word2="codes"
  prsn="students"
}
%>  
<h4 style="display:inline-block">You may post the <%=word %>  below</h4><pre style="tab-size: 8;display:inline-block">                                   </pre>
<h4 style="display:inline-block;">Here are the <%=word %> posted by you
    <div style="position:absolute;height:100px;width:200px;background-color: black;color:whitesmoke;overflow:auto"><% lessons.forEach(lesson => { if(lesson.userId==user.id){%>
      <% let n=1%>
        <a href="/users/display/<%=n %>/<%=lesson.id %>" style="color:inherit"><p style="border:1px solid whitesmoke"><span><%=lesson.dataValues.name %></span></p></a>
            
            
            <% }}) %>
 
    </div></h4>
<pre style="tab-size: 8;display:inline-block">                                   </pre>
<h4 style="display:inline-block"><%=word %> posted by others
    <div style="position:absolute;height:100px;width:200px;background-color: black;color:whitesmoke;overflow:auto">
    <% lessons.forEach(lesson => {if(lesson.userId!=user.id &&lesson.usertype==user.usertype){ %>
        
        <a href="/users/display/0/<%= lesson.id %>" style="color:inherit"><p style="border:1px solid whitesmoke"><%= lesson.dataValues.name %></p></a>
        <p><%= lesson.dataValues.content %></p>
        <p><%= lesson.dataValues.desc %></p>
        
        <% }}) %>
     
    </div></h4>

<form action="/users/startup" method="POST"style="display:block">
    <label for="name">Lesson Name</label>
    <input type="name" name="name" id="name">
    <br><br>
    <div style="display:inline;"><label for="name" >content</label>
    <span style="line-height:60px; position:absolute"><textarea type="text" name="content" id="text"style="height:50px;" class="editor"></textarea></span>
    <div style="position:absolute;margin-top:55px;"><label for="name">created by</label>
    <input type="name" name="descrip" id="name">></div>>
    </div>
    <pre style="display:inline">                          </pre>
    <button type="submit" >Post</button>
    
</form>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<script>
    var quill = new Quill('.editor', {
  modules: {
    'history': {          // Enable with custom configurations
      'delay': 2500,
      'userOnly': true
    },
    'syntax': true        // Enable with default configuration
  }
});
var Clipboard = Quill.import('modules/clipboard');
var Delta = Quill.import('delta');

class PlainClipboard extends Clipboard {
  convert(html = null) {
    if (typeof html === 'string') {
      this.container.innerHTML = html;
    }
    let text = this.container.innerText;
    this.container.innerHTML = '';
    return new Delta().insert(text);
  }
}

Quill.register('modules/clipboard', PlainClipboard, true);
    var options = {
  debug: 'info',
  modules: {
    toolbar: '#toolbar'
  },
  placeholder: 'Compose an epic...',
  readOnly: true,
  theme: 'snow'
};
var editor = new Quill('.editor', options);</script> 
<pre style="tab-size: 8;display:inline-block">                                   </pre>
<h4 style="display:block;margin-top:60px;"><%=word2 %> posted by <%=prsn %> 
    <div style="position:absolute;height:100px;width:200px;background-color: black;color:whitesmoke;overflow:auto">
    <% lessons.forEach(lesson => {if(lesson.usertype!=user.usertype){ %>
        
        <a href="/users/display/0/<%= lesson.id %>" style="color:inherit"><p style="border:1px solid whitesmoke" ><%= lesson.dataValues.name %><br/><%= lesson.dataValues.desc %></p></a>
       
        <p></p>
        
        <% }}) %>
     
    </div></h4>



