<h1>Hello, Mr.<%= user.name%>  </h1>
<h2>Welcome to GA</h2><br>
<% 
var word;
var word2;
var prsn;
if(!user.usertype){
  word="codes"
  word2="lessons"
  prsn="instructors"
}
else{
  word="lessons"
  word2="codes"
  prsn="students"
}
%> 
<h4 style="display:inline-block">You may post the <%=word %>  below</h4><pre style="tab-size: 8;display:inline-block">                                   </pre>
<h4 style="display:inline-block;">Here are the <%=word %> posted by you
    <div style="position:absolute;height:100px;width:200px;background-color: black;color:whitesmoke;overflow:auto"><% lessons.forEach(lesson => { if(lesson.userId==user.id){%>

        <a href="/users/display/<%= lesson.id %>" style="color:inherit"><p style="border:1px solid whitesmoke"><span><%=lesson.dataValues.name %></span></p></a>
            
            
            <% }}) %>
 
    </div></h4>
<pre style="tab-size: 8;display:inline-block">                                   </pre>
<h4 style="display:inline-block"><%=word %> posted by others
    <div style="position:absolute;height:100px;width:200px;background-color: black;color:whitesmoke;overflow:auto">
    <% lessons.forEach(lesson => {if(lesson.userId!=user.id &&lesson.usertype==user.usertype){ %>
        
        <a href="/users/display/<%= lesson.id %>" style="color:inherit"><p style="border:1px solid whitesmoke"><%= lesson.dataValues.name %></p></a>
        <p><%= lesson.dataValues.content %></p>
        <p><%= lesson.dataValues.desc %></p>
        
        <% }}) %>
     
    </div></h4>

<form action="/users/startup" method="POST"style="display:block">
    <label for="name">Lesson Name</label>
    <input type="name" name="name" id="name">
    <br><br>
    <div style="display:inline;"><label for="name" >content</label>
    <span style="line-height:60px; position:absolute"><input type="text" name="content" id="text"style="height:50px;"></span>
    <div style="position:absolute;margin-top:55px;"><label for="name">created by</label>
    <input type="name" name="descrip" id="name"></div>>
    </div>
    <pre style="display:inline">                          </pre>
    <button type="submit" >Post</button>
    
</form>

<pre style="tab-size: 8;display:inline-block">                                   </pre>
<h4 style="display:block;margin-top:60px;"><%=word2 %> posted by <%=prsn %> 
    <div style="position:absolute;height:100px;width:200px;background-color: black;color:whitesmoke;overflow:auto">
    <% lessons.forEach(lesson => {if(lesson.usertype!=user.usertype){ %>
        
        <p href="/users/new" style="border:1px solid whitesmoke" ><%= lesson.dataValues.name %></p>
        <p><%= lesson.dataValues.content %></p>
        <p><%= lesson.dataValues.desc %></p>
        
        <% }}) %>
     
    </div></h4>



